<% layout('layouts/boilerplate')%>

<%# Using the Bootstrap required and novalidate fields for stylig %> 

<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <!-- enctype="multipart/form-data" -->
    <form action="/campgrounds" method="POST" novalidate class="validated-form">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="title" required>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="location" required>
      </div>

      <div class="mb-3">
        <!-- <input type="file" name="images" id="" multiple> -->
        <label class="form-label" for="image">Image Url</label>
        <input class="form-control" type="text" id="image" name="image" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">$</span>
          <input type="text" class="form-control" id="price" name="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="description"></textarea>
      </div>

      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
      
    </form>
  
    <a href="/campgrounds">All Campgrounds</a>  
  </div>
</div>


